/* CSS loader */

.loader {
  text-align: center;
}

.loader .spinner {
  margin: 0 auto;
  width: 70px;
  text-align: center;
}

.loader .spinner > div {
  width: 18px;
  height: 18px;
  background-color: #333;

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.loader .spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.loader .spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  } 40% {
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
  }
}

.loader .spinner-sm > div {
  width: 10px;
  height: 10px;
}

.loader .spinner-xs > div {
  width: 5px;
  height: 5px;
}


/* Panel (Bootstrap-like) */

.panel-default {
    border-color: #ddd;
}

.panel {
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
    border-color: #ddd;
}

.panel .panel-heading {
    color: #333;
    background-color: #f5f5f5;
    padding: 4px 15px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-color: #ddd;
    position: relative;
}

.panel .panel-body {
    padding: 15px;
}

/* SITE css */
html,
body {
  height: 100%;
  width: 100%;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-weight: normal;
  font-size: 14px;
  color: #666;
}

label {
  display: block;
  padding-left: 15px;
  text-indent: -15px;
}

input {
  width: 13px;
  height: 13px;
  padding: 0;
  margin:0;
  vertical-align: middle;
  position: relative;
  top: -1px;
  *overflow: hidden;
}

.page-container {
  height: 100%;
  padding: 20px;
}

.page-container > div.loader {
  position: relative;
  top: 45%;
}

.project-container .project-name {
  font-weight: bold;
  font-size: 1.2em;
}

.project-container .show-finished {
  position: absolute;
  top: 8px;
  right: 10px;
}

.epic-container {
  border-bottom: 1px solid #ddd;
  padding: 15px 0;
}

.epic-container:last-child {
  border-bottom: none;
}

.epic-container .epic-header .epic-name {
  font-weight: bold;
  text-transform: capitalize;
}

.epic-container .epic-header {
  margin-bottom: 10px;
}

.stacked-bar-graph {
  width: 100%;
  height: 15px;
  margin-bottom: 5px;
  font-size: 0;
}

.stacked-bar-graph > span {
  display: inline-block;
  height: 15px;
  border: none;
  background-color: #80F31F;
  opacity: 0.5;
}

.stacked-bar-graph > span.stacked-bar-span-total {
  background-color: green;
  opacity: 1;
}

.stacked-bar-graph > span.stacked-bar-span-unstarted {
  background-color: yellowgreen;
}

.stacked-bar-graph > span.stacked-bar-span-rejected {
  background-color: #FA2E48;
}

.stacked-bar-graph > span.stacked-bar-span-started {
  background-color: #66f;
}

.stacked-bar-graph > span.stacked-bar-span-finished {
  background-color: #6917ED;
  opacity: 1;
}

.stacked-bar-graph > span.stacked-bar-span-delivered {
  background-color: white;
  opacity: 1;
}

.stacked-bar-graph > span.stacked-bar-span-accepted {
  background-color: grey;
  opacity: 1;
}
