<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Pivotal Tracker Projects</title>
  <meta name="description" content="">
  <meta name="author" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="//fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" type="text/css">

  {%- block head_css -%}
  <link rel="stylesheet" href="{{ url_for_static('lib/skeleton/css/normalize.css') }}">
  <link rel="stylesheet" href="{{ url_for_static('lib/skeleton/css/skeleton.css') }}">
  <link rel="stylesheet" href="{{ url_for_static('css/site.css') }}">

  <link rel="icon" type="image/png" href="images/favicon.png">
  {%- endblock head_css -%}
</head>

<body>
  {%- block page_body -%}
  <div class="page-container container-fluid">
        <ul class="legend">
        <li><span class="accepted"></span> Accepted</li>
        <li><span class="started"></span> Started</li>
        <li><span class="unstarted"></span> Unstarted</li>
        <li><span class="iceboxed"></span> Iceboxed</li>
        </ul>
        <br clear="left"/>
    <div class="epics-container">
    </div>
  </div>

  <div class="loader" style="display: none">
    <div class="backdrop"></div>
    <div class="spinner">
      <div class="bounce1"></div>
      <div class="bounce2"></div>
      <div class="bounce3"></div>
    </div>
    <div class="message"></div>
  </div>
  {%- endblock page_body -%}

  <div style="display: none">
    {%-  include 'templates.html' -%}
  </div>

  {%- block tail_js -%}
  <script type="text/javascript" src="{{ url_for_static('lib/jquery/js/jquery.min.js') }}"></script>
  <script type="text/javascript" src="{{ url_for_static('lib/chartjs/js/chart.bundle.min.js') }}"></script>
  <script type="text/javascript" src="{{ url_for_static('lib/handlebars/js/handlebars.min.js') }}"></script>
  <script type="text/javascript" src="{{ url_for_static('js/templates.js') }}"></script>
  <script type="text/javascript" src="{{ url_for_static('js/site.js') }}"></script>
  <script type="text/javascript">
    new Pivotal.HomeModel({
      projectsUrl: "{{ url_for('api.projects') }}",
      epicsUrl: "{{ url_for('api.epics', project_id='PROJECT_ID') }}",
    })
  </script>
  {%- endblock tail_js -%}
</body>

</html>
