{%- raw -%}

<script type="text/x-handlebars-template" id="error">
  <div class="error">{{ this }}</div>
</script>

<script type="text/x-handlebars-template" id="epic-info">
  <div class="epic-container" data-epic-id="{{ epic_id }}" style="text-align:center">
    <canvas style="width: 200px; height: 200px" class="chart-canvas"></canvas>
    <br clear="left">
    <span class="epic-name" data-epic-name="{{ urlencode name}}">{{ name }}</span>
  </div>
</script>

<script type="text/x-handlebars-template" id="horizontal-stacked-bar">
  <div class="stacked-bar-graph" style="width:100%">
		<span style="width: 100%" class="stacked-bar-span stacked-bar-span-total" title="{{total_story_points}} story points in epic"></span>
  </div>
</script>

{%- endraw -%}
