{%- raw -%}

<script type="text/x-handlebars-template" id="error">
  <div class="error">{{} this }}</div>
</script>


<script type="text/x-handlebars-template" id="loader">
  <div class="loader">
    <div class="spinner {{cls}}">
      <div class="bounce1"></div>
      <div class="bounce2"></div>
      <div class="bounce3"></div>
    </div>
    <span>{{text}}</span>
  </div>
</script>

<script type="text/x-handlebars-template" id="project-container">
  <div class="panel project-container" data-project-id="{{ project_id }}">
    <div class="panel-heading"><div class="project-name">{{ name }}</div></div>
    <div class="panel-body">
      {{#each epics}}
        <div class="panel epic-container" data-epic-id="{{ epic_id }}">
          <div class="panel-body">
            <div class="epic-name">{{ name }}</div>
            <div class="epic-info">
              {{renderTemplate 'loader' '{"text": "Loading epic information..", "cls": "spinner-sm"}'}}
            </div>
          </div>
        </div>
      {{/each}}
    </div>
  </div>
</script>

<script type="text/x-handlebars-template" id="epic-info">
  <div class="panel-body">
    <div class="epic-name">{{ name }} :: Forecasted Delivery {{ delivery_date }}</div>
    <div class="epic-info">
      <div class="story-points">{{ story_points }}</div>
      <div class="progress">{{ progress }}</div>
    </div>
  </div>
</script>

{%- endraw -%}
